absl-py==2.4.0
annotated-types==0.7.0
audioread==3.1.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
cryptography==46.0.7
decorator==5.2.1
editdistance==0.6.2
einops==0.7.0
filelock==3.29.0
fsspec==2026.3.0
gitdb==4.0.12
GitPython==3.1.47
google-auth==2.49.2
google-auth-oauthlib==1.0.0
grpcio==1.80.0
hf-xet==1.4.3
huggingface_hub==0.36.2
idna==3.13
joblib==1.5.3
lazy-loader==0.5
librosa==0.10.1
llvmlite==0.47.0
lxml==6.1.0
Markdown==3.10.2
MarkupSafe==3.0.3
msgpack==1.1.2
numba==0.65.0
numpy==1.26.4
oauthlib==3.3.1
opencv-python==4.8.1.78
packaging==26.1
Pillow==10.0.1
platformdirs==4.9.6
pooch==1.9.0
portalocker==3.2.0
protobuf==7.34.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.13.3
pydantic_core==2.46.3
PyYAML==6.0.3
regex==2026.4.4
requests==2.33.1
requests-oauthlib==2.0.0
sacrebleu==2.6.0
safetensors==0.7.0
scikit-learn==1.7.2
scipy==1.15.3
sentry-sdk==2.58.0
six==1.17.0
smmap==5.0.3
soundfile==0.13.1
soxr==1.0.0
tabulate==0.10.0
tensorboard==2.14.1
tensorboard-data-server==0.7.2
threadpoolctl==3.6.0
timm==0.9.7
tokenizers==0.13.3
torch==1.12.1+cu116
torchaudio==0.12.1+cu116
torchvision==0.13.1+cu116
tqdm==4.67.3
transformers==4.33.3
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
wandb==0.26.0
Werkzeug==3.1.8
git+https://github.com/facebookresearch/fairseq.git@v0.12.0#egg=fairseq
